# dependencies
client/node_modules
server/node_modules
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
client/coverage
server/coverage

# next.js build
client/.next/
client/out/

# production builds
client/build
server/build

# misc
.DS_Store
*.pem

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files
.env*
client/.env*
server/.env*

# vercel deployment files (caso use Vercel)
.vercel

# typescript build artifacts
client/*.tsbuildinfo
server/*.tsbuildinfo
client/next-env.d.ts
